game/cache
game/fonts
game/gui
game/images
game/music
game/saves
game/sounds
game/tl
game/unren-dev.rpy

lib/
renpy/

AlisonFalloftheApple.py
AlisonFalloftheApple.sh
errors.txt
log.txt
traceback.txt

*.bat
*.rpa
*.rpyc
*.zip
*.exe
*.webm
*.png
*.ogg
*.0gv